@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #0a0b10; /* Darker for the neon look */
}

.wrapper {
  width: 65vmin;
  height: 75vmin;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  background: #14161e;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
}

.game-details {
  color: #B8C6DC;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 20px 27px;
  display: flex;
  justify-content: space-between;
}

.play-board {
  height: 100%;
  width: 100%;
  display: grid;
  background: #000;
  grid-template: repeat(30, 1fr) / repeat(30, 1fr);
  border: 1px solid #1a1c23;
}

.controls {
  display: flex;
  justify-content: space-evenly;
  background: #14161e;
  padding: 10px 0;
}

.controls i {
  padding: 15px;
  text-align: center;
  font-size: 1.3rem;
  color: #B8C6DC;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .wrapper {
    width: 90vmin;
    height: 115vmin;
  }
}
